<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Changement de message</title>
    <link href="{{ url_for('static', filename='second.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="col">
      {{ message }}
      <h1>Changer de message</h1>
      <hr>

      <form action="/form" method="POST">

        <div>
          <label>Message</label>
          <input type="text" id="username" name="message" placeholder="Veuillez entrer le message">
        </div>

        <div>
          <label>Mot de Passe</label>
          <input type="password" id="mdp" name="mdp" placeholder="Mot de passe">
        </div>

        <button type="submit">Envoyer</button>

      </form>

    </div>
  </div>
</div>
  </body>
</html>